body{
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 15px 15px;
}

.input-select {
    text-align: center;

    padding: 7px 5px;
}

.title {
    text-align: center;

    margin: 25px;
}

.forms {
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
}

.title-field {
    width: 25%;
}

.name-field {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1000px;
}

.name-title-field {
    margin-left: 10px;
    margin-right: 24px;
}

.name-title-field:first-child {
    margin-left:  0;
}

.name-field-input {
    width: 50%;
    max-width: 460px;
}

.name-field-input:first-child {
    margin-left: 0;
}

.input-field-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    max-width: 920px;
    margin-left: 5px;
}

textarea {
    width: 75%;
    min-height: 200px;
    max-height: 1000px;
}

.button {
    margin: 10px 0;
}

.submit {
    padding: 5px 10px;
}

